body{
    background-image: linear-gradient(#ece6e4 5%, #c5b4ad 20%, #9e8277, #6a5249 );
    text-align: center;
}

Header{
   /* background-color: rgba(240, 248, 255, 0.418); */
 font-family: 'Source Code Pro', monospace;
}
.header2 {
display: flex;
}

#search{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 45%;
    border-radius: 10px;
    padding-right: 90px;
    padding-left: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

#go{
    margin-bottom: auto;
    margin-top: auto;
}
::placeholder{
    font-size: larger;
    text-align: left;
}
#titleImg{
    width: 200px;
    
}

/* #titleImg{
    width: 700px;
    
} */


#exQuote{
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgba(255, 255, 255, 0.318);
    padding: 5px;
    border-radius: 10px;
    
}
#q1{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -10px;
    text-align: left;
    margin-left: 20px;
    
}

#q2{
    text-align: right;
    margin-right: 20px;
    font-size: smaller;
}

#explain{
    font-weight: 800;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 30px;
   
}
#qnp{
    display: flex;
}
#results{
    margin-left: 50px;
    margin-right: 50px;
}

#poster{
    text-align: center;
    display: flex;
    width: 50%;
}
 
#img{
  
    margin-left: 50px;
    width: 300px;
    padding: 5px;
    background-image: linear-gradient(to bottom right,rgb(164, 98, 6), yellow 20%,rgb(247, 178, 3) 50%, rgb(164, 98, 6)70%);
    background-clip: padding-box;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: conic-gradient(yellow, rgb(164, 98, 6), rgb(247, 178, 3) 50% ,yellow ,rgb(247, 178, 3), rgb(164, 98, 6)90%, yellow );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#quote p{
    background-color: rgba(255, 255, 255, 0.318);
    padding: 5px;
    border-radius: 10px;
    font-size: 30px;
}

#moviename{
     margin-left: 50px;
    background-image: radial-gradient( rgb(255, 101, 101)60%, rgb(91, 0, 0));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px; 
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, rgb(164, 98, 6), rgb(247, 178, 3)30% ,yellow ,rgb(247, 178, 3), rgb(164, 98, 6));
    padding: 5px;
    margin-bottom: 0;
    margin-top: 30px;
}

.hide{
    display: none;
}
